DRAGONFLY_DB=0
DRAGONFLY_HOST=localhost
DRAGONFLY_PASSWORD=
DRAGONFLY_PORT=6379
DRAGONFLY_PROTOCOL=2
ENVIRONMENT=development
LOG_LEVEL=info
QUEUE_CONCURRENCY=10
QUEUE_NAME=server-tasks
WEBSOCKET_QUEUE_NAME=websocket-tasks
SERVER_QUEUE_NAME=server-tasks
